FIREBASE_API_KEY=AIzaSyCKq2qEFecMjrgOgOtx_WSyPvngkFPzonw
FIREBASE_AUTH_DOMAIN=kinapp-83084.firebaseapp.com
FIREBASE_PROJECT_ID=kinapp-83084
FIREBASE_STORAGE_BUCKET=kinapp-83084.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=590163877979
FIREBASE_APP_ID=1:590163877979:web:30ef620d6a3aacd2ac1f7e
